.quiz-container ul .selected-answer {
  background: #ffd6ff;
  border: 1px solid #800080;
  border-radius: 10px;
}

.quiz-container ul .unselected-answer {
  border: 1px solid #fff;
}

.quiz-container ul li {
  padding: 30px;
}

.App {
  text-align: center;
}

.logoPics {

  display: grid;
  grid-template-columns: max-content max-content;
  gap: 80px;
  padding: 0;
  justify-content: center;
  margin: 60px;
  cursor: pointer;
}

.disabledQuizButton {
  background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
  color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
  border-color: -internal-light-dark(rgba(105, 104, 104, 0.3), rgba(195, 195, 195, 0.3));
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
}

.quizButton {
  background-color: #800080;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}


/* Outside curly brackets is our selector. Classname and ID are 'special' names. Target className with "." */
/* 'li' list tag inside logoPics className */

.logoPics li {

  list-style: none;



}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}