html {
  text-align: center;
  background-image: url("./logos/pink-bg.jpg");

}



.quiz-container ul .selected-answer {
  background: #f5c7f5;
  border: 1px solid #800080;
  border-radius: 10px;
}

.quiz-container ul .unselected-answer {
  border: 1px solid #fff;
  background: #fff;
  border-radius: 10px;
}

.quiz-container ul .unselected-answer:hover {

  background: #fae3fa;
  border: 1px solid #800080;
  border-radius: 10px;

}

.quiz-container ul li {
  padding: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.quiz-container {

  background: #f4f1f4f5;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #f5c7f5;


}



.quiz-heading {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

.quiz-questions {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 28px;
  margin-top: auto;


}



.logoPics {

  display: grid;
  grid-template-columns: max-content max-content;
  gap: 30px;
  padding: 0;
  justify-content: center;
  margin: 20px;
  cursor: pointer;
}

.disabledQuizButton {
  background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
  color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
  border-color: -internal-light-dark(rgba(105, 104, 104, 0.3), rgba(195, 195, 195, 0.3));
  border-radius: 10px;
  padding: 10px 40px;
  text-align: center;
  font-size: 30px;
}

.quizButton {
  background-color: #800080;
  border: 2px solid transparent;
  border-radius: 10px;
  color: white;
  padding: 10px 40px;
  text-align: center;
  font-size: 30px;
  margin: 0px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.quizButton:hover {

  background-color: #844684;
  color: white;

}

/* Outside curly brackets is our selector. Classname and ID are 'special' names. Target className with "." */
/* 'li' list tag inside logoPics className */

.logoPics li {

  list-style: none;



}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}